:root {
  --Brand-Primary: #1551E5;
  --Brand-Hover: #316CFF;
  --Special-Disabled-secondary: #E9ECF2;
  --Black-Secondary: #828EAD;
  --Special-White: #FFF;
  --Black-Primary: #071435;
  --Danger-Primary: #FF3D71;
  --Danger-Secondary: #FF608A;
  --Brand-Ghost: #F2F6FF;
}